* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}
@font-face{
    font-family: 'Norse';
    src: url("./assets/Norse-Bold.otf");
}

main {
    display: flex;
    min-height: 100vh;

}

.left-col {
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50vw;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  
}

.odin-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20, .5);
    padding: 1rem;
}
.odin-banner h1{
    font-family: 'Norse', sans-serif;
    font-size: 4rem;
}
.copyright {
    text-align: center;
    margin-top: auto;
    margin-bottom: 1rem;
}

.right-col {
    background-color: #f9fafb;
}

.text-content {
    padding: 2rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    padding: 2rem;
    box-shadow: 0 4px 2px -2px rgb(163, 162, 162);

}