* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}
@font-face{
    font-family: 'Norse';
    src: url("./assets/Norse-Bold.otf");
}

main {
    display: flex;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.left-col {
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 500px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  
}

.odin-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    margin-top: 25vh;
}
.odin-banner h1{
    font-family: 'Norse', sans-serif;
    font-size: 5.5rem;
    font-weight: unset;
}
.copyright {
    text-align: center;
    margin-top: auto;
    margin-bottom: 1rem;
}

.right-col {
    background-color: #f9fafb;
    width: 100%;
}

.text-content {
    padding: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    width: 800px;
}
.text-content p:nth-child(2){
    margin-top: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;;
}

form {
    padding: 4rem;
    box-shadow: 0 4px 2px -2px rgb(163, 162, 162);

}